flow.json
[{"id":"19718233.dc245e","type":"tab","label":"Movimiento en pasos","disabled":false,"info":""},{"id":"52459cf1.e169a4","type":"tab","label":"Lidar","disabled":false,"info":""},{"id":"8e5262d5.87f8e","type":"tab","label":"Bot telegram","disabled":false,"info":""},{"id":"1e631821.3fa438","type":"tab","label":"Ngrok","disabled":false,"info":""},{"id":"5c2228c7.7ea598","type":"tab","label":"Telegram","disabled":false,"info":""},{"id":"cabc5fa2.08e3f","type":"tab","label":"Google Home","disabled":false,"info":""},{"id":"4ef60445.43236c","type":"tab","label":"prueba2","disabled":false,"info":""},{"id":"9ada35a0.4642b8","type":"ui_tab","z":"","name":"prueba","icon":"dashboard","disabled":false,"hidden":false},{"id":"cf67f997.4d16c8","type":"ui_group","z":"","name":"Default","tab":"9ada35a0.4642b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"d8dcb0ea.2039d","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"584f88e7.123fc8","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"e33f5c5b.ce692","type":"telegrambot-config","z":"","botname":"Slam_inter_bot","usernames":"","chatIds":"","pollInterval":"300"},{"id":"c63b5448.6fcb98","type":"ngrokauth","z":""},{"id":"21f100c8.3e312","type":"ngrokauth","z":"1e631821.3fa438"},{"id":"786cecfa.ed7b44","type":"nora-config","z":"","name":"nora config","group":"","notify":false},{"id":"86a8294c.f544c8","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2},{"id":"f296e29a.978f5","type":"ui_group","name":"Group 1","tab":"86a8294c.f544c8","order":1,"disp":true,"width":6},{"id":"5785763d.beb2a8","type":"inject","z":"19718233.dc245e","name":"","topic":"","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":233.75000762939453,"y":273.75000953674316,"wires":[["60bb67e5.1bc368"]]},{"id":"60bb67e5.1bc368","type":"ui_text_input","z":"19718233.dc245e","name":"","label":"Avance en cm","tooltip":"","group":"cf67f997.4d16c8","order":0,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":400,"y":400,"wires":[["c4b5efee.9d2c7","163a009.fe4edff"]]},{"id":"3dd3fb47.ee48d4","type":"function","z":"19718233.dc245e","name":"cm a pasos","func":"var cm = msg.payload;\ncm = Math.abs(cm);\nvar pasos;\n\n\npasos = cm * 9;\n\nfor(var pulso = 0; pulso < pasos; pulso++)\n{\n    msg.payload = 0;\n    node.send(msg)\n    msg.payload = 1;\n    node.send(msg)\n}","outputs":1,"noerr":0,"x":717.5000114440918,"y":338.75001430511475,"wires":[["fa1bd55a.744ee8"]]},{"id":"1f26dbbd.25a254","type":"debug","z":"19718233.dc245e","name":"pulso der","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1180,"y":300,"wires":[]},{"id":"fa1bd55a.744ee8","type":"delay","z":"19718233.dc245e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.01","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":890,"y":340,"wires":[["1f26dbbd.25a254","eca4c3c2.fd01d"]]},{"id":"eca4c3c2.fd01d","type":"rpi-gpio out","z":"19718233.dc245e","name":"Pasos Derecho","pin":"38","set":true,"level":"0","freq":"","out":"out","x":1240,"y":420,"wires":[]},{"id":"c4b5efee.9d2c7","type":"switch","z":"19718233.dc245e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lt","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":557.5000114440918,"y":338.75001430511475,"wires":[["d9cad56e.f16fd8","3dd3fb47.ee48d4"],["36f5a4b1.1428ec","3dd3fb47.ee48d4"],[]]},{"id":"d9cad56e.f16fd8","type":"change","z":"19718233.dc245e","name":"adelante","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":260,"wires":[["e7511130.dd713"]]},{"id":"36f5a4b1.1428ec","type":"change","z":"19718233.dc245e","name":"atras","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":697.5000114440918,"y":418.75001430511475,"wires":[["e7511130.dd713"]]},{"id":"e7511130.dd713","type":"rpi-gpio out","z":"19718233.dc245e","name":"Direccion Derecho","pin":"40","set":true,"level":"0","freq":"","out":"out","x":1210,"y":360,"wires":[]},{"id":"6cd8ff4c.f81c8","type":"inject","z":"19718233.dc245e","name":"","topic":"","payload":"-200","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":233.75000762939453,"y":413.75000953674316,"wires":[["60bb67e5.1bc368"]]},{"id":"e424fb9a.d8a178","type":"function","z":"19718233.dc245e","name":"cm a pasos","func":"var cm = msg.payload;\ncm = Math.abs(cm);\nvar pasos;\n\npasos = cm * 9;\n\nfor(var pulso = 0; pulso < pasos; pulso++)\n{\n    msg.payload = 0;\n    node.send(msg)\n    msg.payload = 1;\n    node.send(msg)\n}","outputs":1,"noerr":0,"x":730,"y":600,"wires":[["2aaa367.0416bca"]]},{"id":"558d608a.47a9","type":"debug","z":"19718233.dc245e","name":"pulso izq","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1120,"y":580,"wires":[]},{"id":"2aaa367.0416bca","type":"delay","z":"19718233.dc245e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.01","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":890,"y":600,"wires":[["558d608a.47a9","7b6d8a2.1aaad74"]]},{"id":"7b6d8a2.1aaad74","type":"rpi-gpio out","z":"19718233.dc245e","name":"Pasos Izquierdo","pin":"35","set":true,"level":"0","freq":"","out":"out","x":1120,"y":700,"wires":[]},{"id":"163a009.fe4edff","type":"switch","z":"19718233.dc245e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lt","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":550,"y":580,"wires":[["4e2b1692.aeaf88","e424fb9a.d8a178"],["60778c5f.1dc354","e424fb9a.d8a178"],[]]},{"id":"4e2b1692.aeaf88","type":"change","z":"19718233.dc245e","name":"adelante","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":520,"wires":[["3d55f226.d5a9be"]]},{"id":"60778c5f.1dc354","type":"change","z":"19718233.dc245e","name":"atras","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":680,"wires":[["3d55f226.d5a9be"]]},{"id":"3d55f226.d5a9be","type":"rpi-gpio out","z":"19718233.dc245e","name":"Direccion Izquierdo","pin":"37","set":true,"level":"0","freq":"","out":"out","x":1126.2499961853027,"y":634.9999952316284,"wires":[]},{"id":"9e5852e8.26a38","type":"ui_text_input","z":"19718233.dc245e","name":"","label":"Giro en grados","tooltip":"","group":"cf67f997.4d16c8","order":0,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":308.75000762939453,"y":1001.250011920929,"wires":[["dd7d3d64.3a8b3"]]},{"id":"dd7d3d64.3a8b3","type":"switch","z":"19718233.dc245e","name":"derecha - izquierda","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":518.7500076293945,"y":1001.250011920929,"wires":[["3115284c.656028","2bd8baff.32e5f6","19daf87e.086158"],["9f3b38d4.710378","8be5207e.820ae","19daf87e.086158"]]},{"id":"2bd8baff.32e5f6","type":"change","z":"19718233.dc245e","name":"adelante","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":840,"wires":[["3d55f226.d5a9be"]]},{"id":"9f3b38d4.710378","type":"change","z":"19718233.dc245e","name":"atras","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1160,"wires":[["3d55f226.d5a9be"]]},{"id":"8be5207e.820ae","type":"change","z":"19718233.dc245e","name":"adelante","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1100,"wires":[["e7511130.dd713"]]},{"id":"3115284c.656028","type":"change","z":"19718233.dc245e","name":"atras","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":900,"wires":[["e7511130.dd713"]]},{"id":"19daf87e.086158","type":"function","z":"19718233.dc245e","name":"grados a pasos","func":"var grados = msg.payload;\ngrados = Math.abs(grados);\nvar pasos;\n\npasos = grados * 1.7;\n\nfor(var pulso = 0; pulso < pasos; pulso++)\n{\n    msg.payload = 0;\n    node.send(msg)\n    msg.payload = 1;\n    node.send(msg)\n}","outputs":1,"noerr":0,"x":740,"y":1000,"wires":[["648417f1.e15958"]]},{"id":"648417f1.e15958","type":"delay","z":"19718233.dc245e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.01","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":970,"y":1000,"wires":[["7b6d8a2.1aaad74","eca4c3c2.fd01d","1f26dbbd.25a254","558d608a.47a9"]]},{"id":"849394c.b69cd68","type":"debug","z":"52459cf1.e169a4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":220,"wires":[]},{"id":"6151e68d.a2d008","type":"telegrambot-command","z":"8e5262d5.87f8e","name":"","bot":"e33f5c5b.ce692","command":"Hola","commandType":"str","commandCase":false,"x":170,"y":220,"wires":[["cc372ccb.7a4f","467df694.f1f2e8"]]},{"id":"cc372ccb.7a4f","type":"debug","z":"8e5262d5.87f8e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":360,"y":180,"wires":[]},{"id":"467df694.f1f2e8","type":"change","z":"8e5262d5.87f8e","name":"","rules":[{"t":"set","p":"fromTelegram","pt":"global","to":"telegram.from.first_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":260,"wires":[["eebfc8ba.b80908"]]},{"id":"eebfc8ba.b80908","type":"function","z":"8e5262d5.87f8e","name":"NOMBRE DEL USUARIO","func":"var usuario = global.get (\"fromTelegram\")                       \nmsg.payload = \"Hola \"  + usuario                                      \nreturn msg;","outputs":1,"noerr":0,"x":730,"y":260,"wires":[["8f3be63f.46e248","bd1fa775.2fdc38"]]},{"id":"8f3be63f.46e248","type":"telegrambot-notify","z":"8e5262d5.87f8e","name":"","bot":"e33f5c5b.ce692","chatId":"","message":"","parseMode":"","x":1000,"y":220,"wires":[]},{"id":"bd1fa775.2fdc38","type":"debug","z":"8e5262d5.87f8e","name":"mensaje para el usuario","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1030,"y":300,"wires":[]},{"id":"701a3c1c.223bb4","type":"link out","z":"1e631821.3fa438","name":"ToTelegram","links":["ab42d59.a65ca28"],"x":1095,"y":220,"wires":[]},{"id":"d3eca504.3b75b8","type":"function","z":"1e631821.3fa438","name":"Formato ui","func":"var text = msg.payload;\nmsg.payload='Tu nuevo acceso remoto ngrok es: '+ text + '/ui';\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":200,"wires":[["701a3c1c.223bb4"]]},{"id":"7eaef3bb.31c7dc","type":"switch","z":"1e631821.3fa438","name":"filtro \"null\"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":160,"wires":[["b4e5199.e35d1e8"],["8bca5c9.9788ba"]]},{"id":"b9979429.f190b8","type":"function","z":"1e631821.3fa438","name":"Formato editor","func":"var text = msg.payload;\nmsg.payload='Tu nuevo acceso remoto ngrok es: '+ text + '';\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":160,"wires":[["701a3c1c.223bb4"]]},{"id":"b4e5199.e35d1e8","type":"switch","z":"1e631821.3fa438","name":"topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"editor","vt":"str"},{"t":"eq","v":"ui","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":160,"wires":[["b9979429.f190b8"],["d3eca504.3b75b8"]]},{"id":"e7a2a0ab.0ed64","type":"link in","z":"1e631821.3fa438","name":"toNgrok","links":["f8a302e9.db55b"],"x":115,"y":220,"wires":[["eca40056.af82b"]]},{"id":"8bca5c9.9788ba","type":"change","z":"1e631821.3fa438","name":"Off noti","rules":[{"t":"set","p":"payload","pt":"msg","to":"Acceso ngrok apagado.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":240,"wires":[["701a3c1c.223bb4"]]},{"id":"4c66c347.a4fc8c","type":"ngrok","z":"1e631821.3fa438","port":"1880","creds":"21f100c8.3e312","region":"us","subdomain":"","name":"ngrok:1880","auth":"","inputtype":"port","inputs":1,"x":370,"y":180,"wires":[["7eaef3bb.31c7dc"]]},{"id":"8b8cb39f.22622","type":"ngrok","z":"1e631821.3fa438","port":"5000","creds":"21f100c8.3e312","region":"us","subdomain":"","name":"ngrok:5000","auth":"","inputs":0,"x":370,"y":260,"wires":[["a104fd8c.b7f6d"]]},{"id":"eca40056.af82b","type":"switch","z":"1e631821.3fa438","name":"topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"ui","vt":"str"},{"t":"eq","v":"editor","vt":"str"},{"t":"eq","v":"octoprint","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":210,"y":220,"wires":[["4c66c347.a4fc8c"],["4c66c347.a4fc8c"],["8b8cb39f.22622"]]},{"id":"a104fd8c.b7f6d","type":"switch","z":"1e631821.3fa438","name":"filtro \"null\"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":280,"wires":[["8bca5c9.9788ba"],["a229c.55e94d648"]]},{"id":"a229c.55e94d648","type":"function","z":"1e631821.3fa438","name":"Formato Octoprint","func":"var text = msg.payload;\nmsg.payload='Tu nuevo acceso remoto ngrok es: '+ text + '';\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":280,"wires":[["701a3c1c.223bb4"]]},{"id":"60c82b84.2c7ff4","type":"comment","z":"1e631821.3fa438","name":"Añade el \"/xxx\" si aplica","info":"","x":880,"y":120,"wires":[]},{"id":"83fdb9c6.fb0388","type":"debug","z":"5c2228c7.7ea598","name":"Telegram","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1280,"y":200,"wires":[]},{"id":"25114f8d.24479","type":"function","z":"5c2228c7.7ea598","name":"Formato para Telegram","func":"var text = msg.payload;\nmsg.payload='{\\n\"text\": \"'+ text + '\"\\n}'\n//',\\n\"parse_mode\": \"Markdown\"\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":220,"wires":[["faf6e990.80f218","83fdb9c6.fb0388"]]},{"id":"ab42d59.a65ca28","type":"link in","z":"5c2228c7.7ea598","name":"toTelegram","links":["2ee2f44.af4b60c","d6c75b00.d39148","592da6a.2e70a58","9d675fa0.f90c","ec254b84.b17bc8","a3fe156e.ad71d8","73af0803.c282c8","2c8ae8da.bf31f8","dc5307d8.6fd2e8","4905f533.8fc32c","701a3c1c.223bb4"],"x":915,"y":220,"wires":[["25114f8d.24479"]]},{"id":"eab3958a.430d78","type":"change","z":"5c2228c7.7ea598","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":180,"wires":[["f8a302e9.db55b"]]},{"id":"c66ee84d.0bd258","type":"change","z":"5c2228c7.7ea598","name":"ui","rules":[{"t":"set","p":"topic","pt":"msg","to":"ui","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":140,"wires":[["eab3958a.430d78"]]},{"id":"4a2450ce.a8525","type":"change","z":"5c2228c7.7ea598","name":"editor","rules":[{"t":"set","p":"topic","pt":"msg","to":"editor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":180,"wires":[["eab3958a.430d78"]]},{"id":"f8a302e9.db55b","type":"link out","z":"5c2228c7.7ea598","name":"ToNgrok","links":["7c697255.b465fc","1e91adea.262222","e7a2a0ab.0ed64"],"x":775,"y":220,"wires":[]},{"id":"84d33a6d.238f28","type":"change","z":"5c2228c7.7ea598","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":260,"wires":[["f8a302e9.db55b"]]},{"id":"a80f4ba9.568b18","type":"change","z":"5c2228c7.7ea598","name":"editor","rules":[{"t":"set","p":"topic","pt":"msg","to":"editor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":260,"wires":[["84d33a6d.238f28"]]},{"id":"5a7692ed.fb743c","type":"change","z":"5c2228c7.7ea598","name":"octoprint","rules":[{"t":"set","p":"topic","pt":"msg","to":"octoprint","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":220,"wires":[["eab3958a.430d78"]]},{"id":"4a1a09f0.b0d2c8","type":"telegrambot-command","z":"5c2228c7.7ea598","name":"/ngrok","bot":"e33f5c5b.ce692","command":"/ngrok","commandType":"str","commandCase":false,"x":170,"y":200,"wires":[["78d10d84.97fd84"]]},{"id":"78d10d84.97fd84","type":"telegrambot-switch","z":"5c2228c7.7ea598","name":"","bot":"e33f5c5b.ce692","chatId":"","question":"ui or editor?","answers":["ui","editor","octoprint","off"],"outputs":4,"autoAnswerCallback":true,"timeoutValue":"","timeoutUnits":"","x":320,"y":200,"wires":[["c66ee84d.0bd258"],["4a2450ce.a8525"],["5a7692ed.fb743c"],["a80f4ba9.568b18"]]},{"id":"faf6e990.80f218","type":"telegrambot-payload","z":"5c2228c7.7ea598","name":"Send","bot":"e33f5c5b.ce692","chatId":"","sendMethod":"sendMessage","payload":"","x":1270,"y":240,"wires":[[]]},{"id":"227ea33e.7f0d9c","type":"function","z":"4ef60445.43236c","name":"cm a pasos","func":"var cm = msg.payload;\ncm = Math.abs(cm);\nvar pasos;\n\n\npasos = cm * 9;\n\nfor(var pulso = 0; pulso < pasos; pulso++)\n{\n    msg.payload = 0;\n    node.send(msg)\n    msg.payload = 1;\n    node.send(msg)\n}","outputs":1,"noerr":0,"x":693.7500038146973,"y":245.00000476837158,"wires":[["df9495d6.f35c48"]]},{"id":"168354e3.de783b","type":"debug","z":"4ef60445.43236c","name":"pulso der","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1156.2499923706055,"y":206.24999046325684,"wires":[]},{"id":"df9495d6.f35c48","type":"delay","z":"4ef60445.43236c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.01","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":866.2499923706055,"y":246.24999046325684,"wires":[["168354e3.de783b","8cd0908c.01997"]]},{"id":"8cd0908c.01997","type":"rpi-gpio out","z":"4ef60445.43236c","name":"Pasos Derecho","pin":"38","set":true,"level":"0","freq":"","out":"out","x":1216.2499923706055,"y":326.24999046325684,"wires":[]},{"id":"2be84a4.f2926b6","type":"switch","z":"4ef60445.43236c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lt","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":533.7500038146973,"y":245.00000476837158,"wires":[["a071909.c88d07","227ea33e.7f0d9c"],["fb8ce5e6.6f6b38","227ea33e.7f0d9c"],[]]},{"id":"a071909.c88d07","type":"change","z":"4ef60445.43236c","name":"adelante","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":716.2499923706055,"y":166.24999046325684,"wires":[["141dabcc.184204"]]},{"id":"fb8ce5e6.6f6b38","type":"change","z":"4ef60445.43236c","name":"atras","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":673.7500038146973,"y":325.0000047683716,"wires":[["141dabcc.184204"]]},{"id":"141dabcc.184204","type":"rpi-gpio out","z":"4ef60445.43236c","name":"Direccion Derecho","pin":"40","set":true,"level":"0","freq":"","out":"out","x":1186.2499923706055,"y":266.24999046325684,"wires":[]},{"id":"64c27e5e.7a6d6","type":"function","z":"4ef60445.43236c","name":"cm a pasos","func":"var cm = msg.payload;\ncm = Math.abs(cm);\nvar pasos;\n\npasos = cm * 9;\n\nfor(var pulso = 0; pulso < pasos; pulso++)\n{\n    msg.payload = 0;\n    node.send(msg)\n    msg.payload = 1;\n    node.send(msg)\n}","outputs":1,"noerr":0,"x":706.2499923706055,"y":506.24999046325684,"wires":[["d54da85f.9cae78"]]},{"id":"9e375549.ec6ac8","type":"debug","z":"4ef60445.43236c","name":"pulso izq","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1096.2499923706055,"y":486.24999046325684,"wires":[]},{"id":"d54da85f.9cae78","type":"delay","z":"4ef60445.43236c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.01","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":520,"wires":[["9e375549.ec6ac8","d9f32525.3a0848"]]},{"id":"d9f32525.3a0848","type":"rpi-gpio out","z":"4ef60445.43236c","name":"Pasos Izquierdo","pin":"35","set":true,"level":"0","freq":"","out":"out","x":1096.2499923706055,"y":606.2499904632568,"wires":[]},{"id":"6ac068cd.930748","type":"switch","z":"4ef60445.43236c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lt","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":526.2499923706055,"y":486.24999046325684,"wires":[["622c1da2.dbe774","64c27e5e.7a6d6"],["575b98c0.1877d8","64c27e5e.7a6d6"],[]]},{"id":"622c1da2.dbe774","type":"change","z":"4ef60445.43236c","name":"adelante","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":716.2499923706055,"y":426.24999046325684,"wires":[["f700d716.f4bf78"]]},{"id":"575b98c0.1877d8","type":"change","z":"4ef60445.43236c","name":"atras","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":686.2499923706055,"y":586.2499904632568,"wires":[["f700d716.f4bf78"]]},{"id":"f700d716.f4bf78","type":"rpi-gpio out","z":"4ef60445.43236c","name":"Direccion Izquierdo","pin":"37","set":true,"level":"0","freq":"","out":"out","x":1102.4999885559082,"y":541.2499856948853,"wires":[]},{"id":"15e8577f.1415c9","type":"switch","z":"4ef60445.43236c","name":"derecha - izquierda","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":495,"y":907.5000023841858,"wires":[["60a2e287.3154dc","ef50354e.998818","def227d0.31a128"],["75b29f1e.9f4df","5658979a.1e88a8","def227d0.31a128"]]},{"id":"ef50354e.998818","type":"change","z":"4ef60445.43236c","name":"adelante","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":676.2499923706055,"y":746.2499904632568,"wires":[["f700d716.f4bf78"]]},{"id":"75b29f1e.9f4df","type":"change","z":"4ef60445.43236c","name":"atras","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":746.2499923706055,"y":1066.2499904632568,"wires":[["f700d716.f4bf78"]]},{"id":"5658979a.1e88a8","type":"change","z":"4ef60445.43236c","name":"adelante","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":716.2499923706055,"y":1006.2499904632568,"wires":[["141dabcc.184204"]]},{"id":"60a2e287.3154dc","type":"change","z":"4ef60445.43236c","name":"atras","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":706.2499923706055,"y":806.2499904632568,"wires":[["141dabcc.184204"]]},{"id":"def227d0.31a128","type":"function","z":"4ef60445.43236c","name":"grados a pasos","func":"var grados = msg.payload;\ngrados = Math.abs(grados);\nvar pasos;\n\npasos = grados * 1.7;\n\nfor(var pulso = 0; pulso < pasos; pulso++)\n{\n    msg.payload = 0;\n    node.send(msg)\n    msg.payload = 1;\n    node.send(msg)\n}","outputs":1,"noerr":0,"x":716.2499923706055,"y":906.2499904632568,"wires":[["ec30bea4.d4191"]]},{"id":"ec30bea4.d4191","type":"delay","z":"4ef60445.43236c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.01","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":946.2499923706055,"y":906.2499904632568,"wires":[["d9f32525.3a0848","8cd0908c.01997","168354e3.de783b","9e375549.ec6ac8"]]},{"id":"a4f262f5.89cdc","type":"ui_button","z":"4ef60445.43236c","name":"","group":"f296e29a.978f5","order":0,"width":0,"height":0,"passthru":false,"label":"delante","tooltip":"","color":"","bgcolor":"","icon":"","payload":"30","payloadType":"str","topic":"","x":210,"y":260,"wires":[["2be84a4.f2926b6","6ac068cd.930748"]]},{"id":"862410d4.de8c4","type":"ui_button","z":"4ef60445.43236c","name":"","group":"f296e29a.978f5","order":1,"width":0,"height":0,"passthru":false,"label":"atras","tooltip":"","color":"","bgcolor":"","icon":"","payload":"-30","payloadType":"str","topic":"","x":190,"y":380,"wires":[["2be84a4.f2926b6","6ac068cd.930748"]]},{"id":"fbc3c3b2.2f7df","type":"ui_button","z":"4ef60445.43236c","name":"","group":"f296e29a.978f5","order":2,"width":0,"height":0,"passthru":false,"label":"dere","tooltip":"","color":"","bgcolor":"","icon":"","payload":"45","payloadType":"str","topic":"","x":230,"y":780,"wires":[["15e8577f.1415c9"]]},{"id":"833f07fe.2e9598","type":"ui_button","z":"4ef60445.43236c","name":"","group":"f296e29a.978f5","order":3,"width":0,"height":0,"passthru":false,"label":"izq","tooltip":"","color":"","bgcolor":"","icon":"","payload":"-45","payloadType":"str","topic":"","x":230,"y":920,"wires":[["15e8577f.1415c9"]]},{"id":"10aaafe4.b8728","type":"function","z":"cabc5fa2.08e3f","name":"cm a pasos","func":"var cm = msg.payload;\ncm = Math.abs(cm);\nvar pasos;\n\n\npasos = cm * 9;\n\nfor(var pulso = 0; pulso < pasos; pulso++)\n{\n    msg.payload = 0;\n    node.send(msg)\n    msg.payload = 1;\n    node.send(msg)\n}","outputs":1,"noerr":0,"x":610,"y":280,"wires":[["33e9bc0c.245964"]]},{"id":"33e9bc0c.245964","type":"delay","z":"cabc5fa2.08e3f","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.01","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":770,"y":280,"wires":[["6ed9d0f8.4fc47","26ef2957.07ebd6"]]},{"id":"6ed9d0f8.4fc47","type":"rpi-gpio out","z":"cabc5fa2.08e3f","name":"Pasos Derecho","pin":"38","set":true,"level":"0","freq":"","out":"out","x":1120,"y":360,"wires":[]},{"id":"db9a090d.78fcd8","type":"switch","z":"cabc5fa2.08e3f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":437.5000114440918,"y":278.75001430511475,"wires":[["17b9d69.6ec0629","10aaafe4.b8728"],["8db15aaf.139618","10aaafe4.b8728"]]},{"id":"17b9d69.6ec0629","type":"change","z":"cabc5fa2.08e3f","name":"adelante","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":200,"wires":[["26aeb755.a1bee8"]]},{"id":"8db15aaf.139618","type":"change","z":"cabc5fa2.08e3f","name":"atras","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":577.5000114440918,"y":358.75001430511475,"wires":[["26aeb755.a1bee8"]]},{"id":"26aeb755.a1bee8","type":"rpi-gpio out","z":"cabc5fa2.08e3f","name":"Direccion Derecho","pin":"40","set":true,"level":"0","freq":"","out":"out","x":1090,"y":300,"wires":[]},{"id":"d40264fe.67b698","type":"function","z":"cabc5fa2.08e3f","name":"cm a pasos","func":"var cm = msg.payload;\ncm = Math.abs(cm);\nvar pasos;\n\n\npasos = cm * 9;\n\nfor(var pulso = 0; pulso < pasos; pulso++)\n{\n    msg.payload = 0;\n    node.send(msg)\n    msg.payload = 1;\n    node.send(msg)\n}","outputs":1,"noerr":0,"x":610,"y":540,"wires":[["d9af1798.1e5918"]]},{"id":"d9af1798.1e5918","type":"delay","z":"cabc5fa2.08e3f","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.01","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":770,"y":540,"wires":[["ca7f99ab.397f98","c6517e6a.3557c"]]},{"id":"ca7f99ab.397f98","type":"rpi-gpio out","z":"cabc5fa2.08e3f","name":"Pasos Izquierdo","pin":"35","set":true,"level":"0","freq":"","out":"out","x":1000,"y":640,"wires":[]},{"id":"7cb1b6df.45b0b8","type":"switch","z":"cabc5fa2.08e3f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":520,"wires":[["3569cf08.1a0c4","d40264fe.67b698"],["23d1a0d4.f02a3","d40264fe.67b698"]]},{"id":"3569cf08.1a0c4","type":"change","z":"cabc5fa2.08e3f","name":"adelante","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":460,"wires":[["d859b79d.eb4c78"]]},{"id":"23d1a0d4.f02a3","type":"change","z":"cabc5fa2.08e3f","name":"atras","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":620,"wires":[["d859b79d.eb4c78"]]},{"id":"d859b79d.eb4c78","type":"rpi-gpio out","z":"cabc5fa2.08e3f","name":"Direccion Izquierdo","pin":"37","set":true,"level":"0","freq":"","out":"out","x":1006.2499961853027,"y":574.9999952316284,"wires":[]},{"id":"da99dc42.48d41","type":"switch","z":"cabc5fa2.08e3f","name":"derecha - izquierda","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":398.75000762939453,"y":941.250011920929,"wires":[["4b70eaa1.9d1954","5de016be.e31848","645d0be0.374744"],["dbe4d4b9.5ed6f8","c0e0768e.090ef8","645d0be0.374744"]]},{"id":"5de016be.e31848","type":"change","z":"cabc5fa2.08e3f","name":"adelante","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":780,"wires":[["d859b79d.eb4c78"]]},{"id":"dbe4d4b9.5ed6f8","type":"change","z":"cabc5fa2.08e3f","name":"atras","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1100,"wires":[["d859b79d.eb4c78"]]},{"id":"c0e0768e.090ef8","type":"change","z":"cabc5fa2.08e3f","name":"adelante","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1040,"wires":[["26aeb755.a1bee8"]]},{"id":"4b70eaa1.9d1954","type":"change","z":"cabc5fa2.08e3f","name":"atras","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":840,"wires":[["26aeb755.a1bee8"]]},{"id":"645d0be0.374744","type":"function","z":"cabc5fa2.08e3f","name":"grados a pasos","func":"var grados = msg.payload;\ngrados = Math.abs(grados);\nvar pasos;\n\npasos = grados * 1.7;\n\nfor(var pulso = 0; pulso < pasos; pulso++)\n{\n    msg.payload = 0;\n    node.send(msg)\n    msg.payload = 1;\n    node.send(msg)\n}","outputs":1,"noerr":0,"x":620,"y":940,"wires":[["7e467ca3.58ce24"]]},{"id":"7e467ca3.58ce24","type":"delay","z":"cabc5fa2.08e3f","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.01","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":850,"y":940,"wires":[["ca7f99ab.397f98","c6517e6a.3557c","6ed9d0f8.4fc47","26ef2957.07ebd6"]]},{"id":"c6517e6a.3557c","type":"debug","z":"cabc5fa2.08e3f","name":"pulso izq","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1000,"y":520,"wires":[]},{"id":"26ef2957.07ebd6","type":"debug","z":"cabc5fa2.08e3f","name":"pulso der","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1060,"y":240,"wires":[]},{"id":"20aba472.c8f98c","type":"nora-switch","z":"cabc5fa2.08e3f","devicename":"Demostración 1","roomhint":"","name":"","passthru":false,"nora":"786cecfa.ed7b44","topic":"","onvalue":"20","onvalueType":"str","offvalue":"-20","offvalueType":"str","x":80,"y":400,"wires":[["db9a090d.78fcd8","7cb1b6df.45b0b8"]]},{"id":"bd1e4a6.e86f0b8","type":"nora-switch","z":"cabc5fa2.08e3f","devicename":"Demostración 2","roomhint":"","name":"","passthru":false,"nora":"786cecfa.ed7b44","topic":"","onvalue":"45","onvalueType":"str","offvalue":"-45","offvalueType":"str","x":140,"y":920,"wires":[["da99dc42.48d41"]]}]