flow.json
[{"id":"19718233.dc245e","type":"tab","label":"Movimiento en pasos","disabled":false,"info":""},{"id":"52459cf1.e169a4","type":"tab","label":"Lidar","disabled":false,"info":""},{"id":"8e5262d5.87f8e","type":"tab","label":"Bot telegram","disabled":false,"info":""},{"id":"1e631821.3fa438","type":"tab","label":"Ngrok","disabled":false,"info":""},{"id":"5c2228c7.7ea598","type":"tab","label":"Telegram","disabled":false,"info":""},{"id":"cabc5fa2.08e3f","type":"tab","label":"Google Home","disabled":false,"info":""},{"id":"9ada35a0.4642b8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"cf67f997.4d16c8","type":"ui_group","z":"","name":"Default","tab":"9ada35a0.4642b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"d8dcb0ea.2039d","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"584f88e7.123fc8","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"e33f5c5b.ce692","type":"telegrambot-config","z":"","botname":"Slam_inter_bot","usernames":"","chatIds":"","pollInterval":"300"},{"id":"c63b5448.6fcb98","type":"ngrokauth","z":""},{"id":"21f100c8.3e312","type":"ngrokauth","z":"1e631821.3fa438"},{"id":"786cecfa.ed7b44","type":"nora-config","z":"","name":"nora config","group":"","notify":false},{"id":"5785763d.beb2a8","type":"inject","z":"19718233.dc245e","name":"","topic":"","payload":"200","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":233.75000762939453,"y":273.75000953674316,"wires":[["60bb67e5.1bc368"]]},{"id":"60bb67e5.1bc368","type":"ui_text_input","z":"19718233.dc245e","name":"","label":"Avance en cm","tooltip":"","group":"cf67f997.4d16c8","order":0,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":400,"y":400,"wires":[["c4b5efee.9d2c7","163a009.fe4edff"]]},{"id":"3dd3fb47.ee48d4","type":"function","z":"19718233.dc245e","name":"cm a pasos","func":"var cm = msg.payload;\ncm = Math.abs(cm);\nvar pasos;\n\n\npasos = cm * 9;\n\nfor(var pulso = 0; pulso < pasos; pulso++)\n{\n    msg.payload = 0;\n    node.send(msg)\n    msg.payload = 1;\n    node.send(msg)\n}","outputs":1,"noerr":0,"x":717.5000114440918,"y":338.75001430511475,"wires":[["fa1bd55a.744ee8"]]},{"id":"1f26dbbd.25a254","type":"debug","z":"19718233.dc245e","name":"pulso der","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1180,"y":300,"wires":[]},{"id":"fa1bd55a.744ee8","type":"delay","z":"19718233.dc245e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.01","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":890,"y":340,"wires":[["1f26dbbd.25a254","eca4c3c2.fd01d"]]},{"id":"eca4c3c2.fd01d","type":"rpi-gpio out","z":"19718233.dc245e","name":"Pasos Derecho","pin":"38","set":true,"level":"0","freq":"","out":"out","x":1240,"y":420,"wires":[]},{"id":"c4b5efee.9d2c7","type":"switch","z":"19718233.dc245e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lt","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":557.5000114440918,"y":338.75001430511475,"wires":[["d9cad56e.f16fd8","3dd3fb47.ee48d4"],["36f5a4b1.1428ec","3dd3fb47.ee48d4"],[]]},{"id":"d9cad56e.f16fd8","type":"change","z":"19718233.dc245e","name":"adelante","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":260,"wires":[["e7511130.dd713"]]},{"id":"36f5a4b1.1428ec","type":"change","z":"19718233.dc245e","name":"atras","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":697.5000114440918,"y":418.75001430511475,"wires":[["e7511130.dd713"]]},{"id":"e7511130.dd713","type":"rpi-gpio out","z":"19718233.dc245e","name":"Direccion Derecho","pin":"40","set":true,"level":"0","freq":"","out":"out","x":1210,"y":360,"wires":[]},{"id":"6cd8ff4c.f81c8","type":"inject","z":"19718233.dc245e","name":"","topic":"","payload":"-200","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":233.75000762939453,"y":413.75000953674316,"wires":[["60bb67e5.1bc368"]]},{"id":"e424fb9a.d8a178","type":"function","z":"19718233.dc245e","name":"cm a pasos","func":"var cm = msg.payload;\ncm = Math.abs(cm);\nvar pasos;\n\npasos = cm * 9;\n\nfor(var pulso = 0; pulso < pasos; pulso++)\n{\n    msg.payload = 0;\n    node.send(msg)\n    msg.payload = 1;\n    node.send(msg)\n}","outputs":1,"noerr":0,"x":730,"y":600,"wires":[["2aaa367.0416bca"]]},{"id":"558d608a.47a9","type":"debug","z":"19718233.dc245e","name":"pulso izq","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1120,"y":580,"wires":[]},{"id":"2aaa367.0416bca","type":"delay","z":"19718233.dc245e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.01","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":890,"y":600,"wires":[["558d608a.47a9","7b6d8a2.1aaad74"]]},{"id":"7b6d8a2.1aaad74","type":"rpi-gpio out","z":"19718233.dc245e","name":"Pasos Izquierdo","pin":"35","set":true,"level":"0","freq":"","out":"out","x":1120,"y":700,"wires":[]},{"id":"163a009.fe4edff","type":"switch","z":"19718233.dc245e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lt","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":550,"y":580,"wires":[["4e2b1692.aeaf88","e424fb9a.d8a178"],["60778c5f.1dc354","e424fb9a.d8a178"],[]]},{"id":"4e2b1692.aeaf88","type":"change","z":"19718233.dc245e","name":"adelante","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":520,"wires":[["3d55f226.d5a9be"]]},{"id":"60778c5f.1dc354","type":"change","z":"19718233.dc245e","name":"atras","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":680,"wires":[["3d55f226.d5a9be"]]},{"id":"3d55f226.d5a9be","type":"rpi-gpio out","z":"19718233.dc245e","name":"Direccion Izquierdo","pin":"37","set":true,"level":"0","freq":"","out":"out","x":1126.2499961853027,"y":634.9999952316284,"wires":[]},{"id":"9e5852e8.26a38","type":"ui_text_input","z":"19718233.dc245e","name":"","label":"Giro en grados","tooltip":"","group":"cf67f997.4d16c8","order":0,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":308.75000762939453,"y":1001.250011920929,"wires":[["dd7d3d64.3a8b3"]]},{"id":"dd7d3d64.3a8b3","type":"switch","z":"19718233.dc245e","name":"derecha - izquierda","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":518.7500076293945,"y":1001.250011920929,"wires":[["3115284c.656028","2bd8baff.32e5f6","19daf87e.086158"],["9f3b38d4.710378","8be5207e.820ae","19daf87e.086158"]]},{"id":"2bd8baff.32e5f6","type":"change","z":"19718233.dc245e","name":"adelante","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":840,"wires":[["3d55f226.d5a9be"]]},{"id":"9f3b38d4.710378","type":"change","z":"19718233.dc245e","name":"atras","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1160,"wires":[["3d55f226.d5a9be"]]},{"id":"8be5207e.820ae","type":"change","z":"19718233.dc245e","name":"adelante","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1100,"wires":[["e7511130.dd713"]]},{"id":"3115284c.656028","type":"change","z":"19718233.dc245e","name":"atras","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":900,"wires":[["e7511130.dd713"]]},{"id":"19daf87e.086158","type":"function","z":"19718233.dc245e","name":"grados a pasos","func":"var grados = msg.payload;\ngrados = Math.abs(grados);\nvar pasos;\n\npasos = grados * 1.7;\n\nfor(var pulso = 0; pulso < pasos; pulso++)\n{\n    msg.payload = 0;\n    node.send(msg)\n    msg.payload = 1;\n    node.send(msg)\n}","outputs":1,"noerr":0,"x":740,"y":1000,"wires":[["648417f1.e15958"]]},{"id":"648417f1.e15958","type":"delay","z":"19718233.dc245e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.01","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":970,"y":1000,"wires":[["7b6d8a2.1aaad74","eca4c3c2.fd01d","1f26dbbd.25a254","558d608a.47a9"]]},{"id":"849394c.b69cd68","type":"debug","z":"52459cf1.e169a4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":220,"wires":[]},{"id":"6151e68d.a2d008","type":"telegrambot-command","z":"8e5262d5.87f8e","name":"","bot":"e33f5c5b.ce692","command":"Hola","commandType":"str","commandCase":false,"x":170,"y":220,"wires":[["cc372ccb.7a4f","467df694.f1f2e8"]]},{"id":"cc372ccb.7a4f","type":"debug","z":"8e5262d5.87f8e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":360,"y":180,"wires":[]},{"id":"467df694.f1f2e8","type":"change","z":"8e5262d5.87f8e","name":"","rules":[{"t":"set","p":"fromTelegram","pt":"global","to":"telegram.from.first_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":260,"wires":[["eebfc8ba.b80908"]]},{"id":"eebfc8ba.b80908","type":"function","z":"8e5262d5.87f8e","name":"NOMBRE DEL USUARIO","func":"var usuario = global.get (\"fromTelegram\")                       \nmsg.payload = \"Hola \"  + usuario                                      \nreturn msg;","outputs":1,"noerr":0,"x":730,"y":260,"wires":[["8f3be63f.46e248","bd1fa775.2fdc38"]]},{"id":"8f3be63f.46e248","type":"telegrambot-notify","z":"8e5262d5.87f8e","name":"","bot":"e33f5c5b.ce692","chatId":"","message":"","parseMode":"","x":1000,"y":220,"wires":[]},{"id":"bd1fa775.2fdc38","type":"debug","z":"8e5262d5.87f8e","name":"mensaje para el usuario","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1030,"y":300,"wires":[]},{"id":"701a3c1c.223bb4","type":"link out","z":"1e631821.3fa438","name":"ToTelegram","links":["ab42d59.a65ca28"],"x":1095,"y":220,"wires":[]},{"id":"d3eca504.3b75b8","type":"function","z":"1e631821.3fa438","name":"Formato ui","func":"var text = msg.payload;\nmsg.payload='Tu nuevo acceso remoto ngrok es: '+ text + '/ui';\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":200,"wires":[["701a3c1c.223bb4"]]},{"id":"7eaef3bb.31c7dc","type":"switch","z":"1e631821.3fa438","name":"filtro \"null\"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":160,"wires":[["b4e5199.e35d1e8"],["8bca5c9.9788ba"]]},{"id":"b9979429.f190b8","type":"function","z":"1e631821.3fa438","name":"Formato editor","func":"var text = msg.payload;\nmsg.payload='Tu nuevo acceso remoto ngrok es: '+ text + '';\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":160,"wires":[["701a3c1c.223bb4"]]},{"id":"b4e5199.e35d1e8","type":"switch","z":"1e631821.3fa438","name":"topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"editor","vt":"str"},{"t":"eq","v":"ui","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":160,"wires":[["b9979429.f190b8"],["d3eca504.3b75b8"]]},{"id":"e7a2a0ab.0ed64","type":"link in","z":"1e631821.3fa438","name":"toNgrok","links":["f8a302e9.db55b"],"x":115,"y":220,"wires":[["eca40056.af82b"]]},{"id":"8bca5c9.9788ba","type":"change","z":"1e631821.3fa438","name":"Off noti","rules":[{"t":"set","p":"payload","pt":"msg","to":"Acceso ngrok apagado.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":240,"wires":[["701a3c1c.223bb4"]]},{"id":"4c66c347.a4fc8c","type":"ngrok","z":"1e631821.3fa438","port":"1880","creds":"21f100c8.3e312","region":"us","subdomain":"","name":"ngrok:1880","auth":"","inputtype":"port","inputs":1,"x":370,"y":180,"wires":[["7eaef3bb.31c7dc"]]},{"id":"8b8cb39f.22622","type":"ngrok","z":"1e631821.3fa438","port":"5000","creds":"21f100c8.3e312","region":"us","subdomain":"","name":"ngrok:5000","auth":"","inputs":0,"x":370,"y":260,"wires":[["a104fd8c.b7f6d"]]},{"id":"eca40056.af82b","type":"switch","z":"1e631821.3fa438","name":"topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"ui","vt":"str"},{"t":"eq","v":"editor","vt":"str"},{"t":"eq","v":"octoprint","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":210,"y":220,"wires":[["4c66c347.a4fc8c"],["4c66c347.a4fc8c"],["8b8cb39f.22622"]]},{"id":"a104fd8c.b7f6d","type":"switch","z":"1e631821.3fa438","name":"filtro \"null\"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":280,"wires":[["8bca5c9.9788ba"],["a229c.55e94d648"]]},{"id":"a229c.55e94d648","type":"function","z":"1e631821.3fa438","name":"Formato Octoprint","func":"var text = msg.payload;\nmsg.payload='Tu nuevo acceso remoto ngrok es: '+ text + '';\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":280,"wires":[["701a3c1c.223bb4"]]},{"id":"60c82b84.2c7ff4","type":"comment","z":"1e631821.3fa438","name":"Añade el \"/xxx\" si aplica","info":"","x":880,"y":120,"wires":[]},{"id":"83fdb9c6.fb0388","type":"debug","z":"5c2228c7.7ea598","name":"Telegram","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1280,"y":200,"wires":[]},{"id":"25114f8d.24479","type":"function","z":"5c2228c7.7ea598","name":"Formato para Telegram","func":"var text = msg.payload;\nmsg.payload='{\\n\"text\": \"'+ text + '\"\\n}'\n//',\\n\"parse_mode\": \"Markdown\"\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":220,"wires":[["faf6e990.80f218","83fdb9c6.fb0388"]]},{"id":"ab42d59.a65ca28","type":"link in","z":"5c2228c7.7ea598","name":"toTelegram","links":["2ee2f44.af4b60c","d6c75b00.d39148","592da6a.2e70a58","9d675fa0.f90c","ec254b84.b17bc8","a3fe156e.ad71d8","73af0803.c282c8","2c8ae8da.bf31f8","dc5307d8.6fd2e8","4905f533.8fc32c","701a3c1c.223bb4"],"x":915,"y":220,"wires":[["25114f8d.24479"]]},{"id":"eab3958a.430d78","type":"change","z":"5c2228c7.7ea598","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":180,"wires":[["f8a302e9.db55b"]]},{"id":"c66ee84d.0bd258","type":"change","z":"5c2228c7.7ea598","name":"ui","rules":[{"t":"set","p":"topic","pt":"msg","to":"ui","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":140,"wires":[["eab3958a.430d78"]]},{"id":"4a2450ce.a8525","type":"change","z":"5c2228c7.7ea598","name":"editor","rules":[{"t":"set","p":"topic","pt":"msg","to":"editor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":180,"wires":[["eab3958a.430d78"]]},{"id":"f8a302e9.db55b","type":"link out","z":"5c2228c7.7ea598","name":"ToNgrok","links":["7c697255.b465fc","1e91adea.262222","e7a2a0ab.0ed64"],"x":775,"y":220,"wires":[]},{"id":"84d33a6d.238f28","type":"change","z":"5c2228c7.7ea598","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":260,"wires":[["f8a302e9.db55b"]]},{"id":"a80f4ba9.568b18","type":"change","z":"5c2228c7.7ea598","name":"editor","rules":[{"t":"set","p":"topic","pt":"msg","to":"editor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":260,"wires":[["84d33a6d.238f28"]]},{"id":"5a7692ed.fb743c","type":"change","z":"5c2228c7.7ea598","name":"octoprint","rules":[{"t":"set","p":"topic","pt":"msg","to":"octoprint","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":220,"wires":[["eab3958a.430d78"]]},{"id":"4a1a09f0.b0d2c8","type":"telegrambot-command","z":"5c2228c7.7ea598","name":"/ngrok","bot":"e33f5c5b.ce692","command":"/ngrok","commandType":"str","commandCase":false,"x":170,"y":200,"wires":[["78d10d84.97fd84"]]},{"id":"78d10d84.97fd84","type":"telegrambot-switch","z":"5c2228c7.7ea598","name":"","bot":"e33f5c5b.ce692","chatId":"","question":"ui or editor?","answers":["ui","editor","octoprint","off"],"outputs":4,"autoAnswerCallback":true,"timeoutValue":"","timeoutUnits":"","x":320,"y":200,"wires":[["c66ee84d.0bd258"],["4a2450ce.a8525"],["5a7692ed.fb743c"],["a80f4ba9.568b18"]]},{"id":"faf6e990.80f218","type":"telegrambot-payload","z":"5c2228c7.7ea598","name":"Send","bot":"e33f5c5b.ce692","chatId":"","sendMethod":"sendMessage","payload":"","x":1270,"y":240,"wires":[[]]},{"id":"bd1e4a6.e86f0b8","type":"nora-switch","z":"cabc5fa2.08e3f","devicename":"Demostración 2","roomhint":"","name":"","passthru":false,"nora":"786cecfa.ed7b44","topic":"","onvalue":"Encendido","onvalueType":"str","offvalue":"Apagado","offvalueType":"str","x":140,"y":800,"wires":[["d32668b3.be5fb8"]]},{"id":"43b72fb2.6291d","type":"function","z":"cabc5fa2.08e3f","name":"cm a pasos","func":"\nvar pasos;\n\n\npasos = 20* 9;\n\nfor(var pulso = 0; pulso < pasos; pulso++)\n{\n    msg.payload = 0;\n    node.send(msg)\n    msg.payload = 1;\n    node.send(msg)\n}","outputs":1,"noerr":0,"x":610,"y":140,"wires":[["27a36ea7.a86c12"]]},{"id":"377c7cbb.31ebf4","type":"debug","z":"cabc5fa2.08e3f","name":"pulso der","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1072.4999885559082,"y":101.24998569488525,"wires":[]},{"id":"27a36ea7.a86c12","type":"delay","z":"cabc5fa2.08e3f","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.01","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":782.4999885559082,"y":141.24998569488525,"wires":[["377c7cbb.31ebf4","608edae1.42f254"]]},{"id":"608edae1.42f254","type":"rpi-gpio out","z":"cabc5fa2.08e3f","name":"Pasos Derecho","pin":"38","set":true,"level":"0","freq":"","out":"out","x":1132.4999885559082,"y":221.24998569488525,"wires":[]},{"id":"aa4dd2ab.9b582","type":"rpi-gpio out","z":"cabc5fa2.08e3f","name":"Direccion Derecho","pin":"40","set":true,"level":"0","freq":"","out":"out","x":1102.4999885559082,"y":161.24998569488525,"wires":[]},{"id":"15ec41a.03ef0be","type":"function","z":"cabc5fa2.08e3f","name":"cm a pasos","func":"\nvar pasos;\n\npasos = 20 * 9;\n\nfor(var pulso = 0; pulso < pasos; pulso++)\n{\n    msg.payload = 0;\n    node.send(msg)\n    msg.payload = 1;\n    node.send(msg)\n}","outputs":1,"noerr":0,"x":622.4999885559082,"y":401.24998569488525,"wires":[["bc9d5d69.d0dad"]]},{"id":"9052145.23bfce8","type":"debug","z":"cabc5fa2.08e3f","name":"pulso izq","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1012.4999885559082,"y":381.24998569488525,"wires":[]},{"id":"bc9d5d69.d0dad","type":"delay","z":"cabc5fa2.08e3f","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.01","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":782.4999885559082,"y":401.24998569488525,"wires":[["9052145.23bfce8","e4bc20a2.6350b"]]},{"id":"e4bc20a2.6350b","type":"rpi-gpio out","z":"cabc5fa2.08e3f","name":"Pasos Izquierdo","pin":"35","set":true,"level":"0","freq":"","out":"out","x":1012.4999885559082,"y":501.24998569488525,"wires":[]},{"id":"af7294ff.99d798","type":"rpi-gpio out","z":"cabc5fa2.08e3f","name":"Direccion Izquierdo","pin":"37","set":true,"level":"0","freq":"","out":"out","x":1018.7499847412109,"y":436.2499809265137,"wires":[]},{"id":"66d3009b.1a278","type":"function","z":"cabc5fa2.08e3f","name":"grados a pasos","func":"\nvar pasos;\n\npasos = 90* 1.7;\n\nfor(var pulso = 0; pulso < pasos; pulso++)\n{\n    msg.payload = 0;\n    node.send(msg)\n    msg.payload = 1;\n    node.send(msg)\n}\n\npasos2 = -90* 1.7;\n\nfor(var pulso = 0; pulso < pasos2; pulso++)\n{\n    msg.payload = 0;\n    node.send(msg)\n    msg.payload = 1;\n    node.send(msg)\n}","outputs":1,"noerr":0,"x":632.4999885559082,"y":801.2499856948853,"wires":[["5086cff0.8ec47"]]},{"id":"5086cff0.8ec47","type":"delay","z":"cabc5fa2.08e3f","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.01","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":862.4999885559082,"y":801.2499856948853,"wires":[["e4bc20a2.6350b","608edae1.42f254","377c7cbb.31ebf4","9052145.23bfce8"]]},{"id":"ea29515d.19a34","type":"change","z":"cabc5fa2.08e3f","name":"adelante","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":632.4999885559082,"y":901.2499856948853,"wires":[["aa4dd2ab.9b582"]]},{"id":"978efdd8.1cf","type":"change","z":"cabc5fa2.08e3f","name":"adelante","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":592.4999885559082,"y":641.2499856948853,"wires":[["af7294ff.99d798"]]},{"id":"c1ba3978.799bf8","type":"change","z":"cabc5fa2.08e3f","name":"atras","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":622.4999885559082,"y":701.2499856948853,"wires":[["aa4dd2ab.9b582"]]},{"id":"d32668b3.be5fb8","type":"switch","z":"cabc5fa2.08e3f","name":"derecha - izquierda","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Encendido","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":411.24999618530273,"y":802.4999976158142,"wires":[["978efdd8.1cf","c1ba3978.799bf8","66d3009b.1a278","ea29515d.19a34","6f84be2e.14f82"]]},{"id":"6f84be2e.14f82","type":"change","z":"cabc5fa2.08e3f","name":"atras","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":634.765625,"y":984.75,"wires":[["af7294ff.99d798"]]},{"id":"20aba472.c8f98c","type":"nora-switch","z":"cabc5fa2.08e3f","devicename":"Demostración 1","roomhint":"","name":"","passthru":false,"nora":"786cecfa.ed7b44","topic":"","onvalue":"Encendido","onvalueType":"str","offvalue":"Apagado","offvalueType":"str","x":290,"y":260,"wires":[["43b72fb2.6291d","15ec41a.03ef0be"]]}]