flow.json
[{"id":"19718233.dc245e","type":"tab","label":"Movimiento en pasos","disabled":false,"info":""},{"id":"9ada35a0.4642b8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"cf67f997.4d16c8","type":"ui_group","z":"","name":"Default","tab":"9ada35a0.4642b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"d8dcb0ea.2039d","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5785763d.beb2a8","type":"inject","z":"19718233.dc245e","name":"","topic":"","payload":"200","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":233.75000762939453,"y":273.75000953674316,"wires":[["60bb67e5.1bc368"]]},{"id":"60bb67e5.1bc368","type":"ui_text_input","z":"19718233.dc245e","name":"","label":"Avance en cm","tooltip":"","group":"cf67f997.4d16c8","order":0,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":403.75000762939453,"y":333.75000953674316,"wires":[["c4b5efee.9d2c7","163a009.fe4edff"]]},{"id":"3dd3fb47.ee48d4","type":"function","z":"19718233.dc245e","name":"cm a pasos","func":"var cm = msg.payload;\ncm = Math.abs(cm);\nvar pasos;\n\n\n\nfor(var pulso = 0; pulso < cm; pulso++)\n{\n    msg.payload = 0;\n    node.send(msg)\n    msg.payload = 1;\n    node.send(msg)\n}","outputs":1,"noerr":0,"x":717.5000114440918,"y":338.75001430511475,"wires":[["fa1bd55a.744ee8"]]},{"id":"1f26dbbd.25a254","type":"debug","z":"19718233.dc245e","name":"pulso der","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1103.7500076293945,"y":313.75000953674316,"wires":[]},{"id":"fa1bd55a.744ee8","type":"delay","z":"19718233.dc245e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.01","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":877.5000114440918,"y":338.75001430511475,"wires":[["1f26dbbd.25a254","eca4c3c2.fd01d"]]},{"id":"eca4c3c2.fd01d","type":"rpi-gpio out","z":"19718233.dc245e","name":"Pasos Derecho","pin":"40","set":true,"level":"0","freq":"","out":"out","x":1107.5000114440918,"y":438.75001430511475,"wires":[]},{"id":"c4b5efee.9d2c7","type":"switch","z":"19718233.dc245e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lt","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":557.5000114440918,"y":338.75001430511475,"wires":[["d9cad56e.f16fd8","3dd3fb47.ee48d4"],["36f5a4b1.1428ec","3dd3fb47.ee48d4"],[]]},{"id":"d9cad56e.f16fd8","type":"change","z":"19718233.dc245e","name":"adelante","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":727.5000114440918,"y":258.75001430511475,"wires":[["e7511130.dd713"]]},{"id":"36f5a4b1.1428ec","type":"change","z":"19718233.dc245e","name":"atras","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":697.5000114440918,"y":418.75001430511475,"wires":[["e7511130.dd713"]]},{"id":"e7511130.dd713","type":"rpi-gpio out","z":"19718233.dc245e","name":"Direccion Derecho","pin":"38","set":true,"level":"0","freq":"","out":"out","x":1113.7500076293945,"y":373.75000953674316,"wires":[]},{"id":"6cd8ff4c.f81c8","type":"inject","z":"19718233.dc245e","name":"","topic":"","payload":"-200","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":233.75000762939453,"y":413.75000953674316,"wires":[["60bb67e5.1bc368"]]},{"id":"e424fb9a.d8a178","type":"function","z":"19718233.dc245e","name":"cm a pasos","func":"var cm = msg.payload;\ncm = Math.abs(cm);\nvar pasos;\n\n\n\nfor(var pulso = 0; pulso < cm; pulso++)\n{\n    msg.payload = 0;\n    node.send(msg)\n    msg.payload = 1;\n    node.send(msg)\n}","outputs":1,"noerr":0,"x":730,"y":600,"wires":[["2aaa367.0416bca"]]},{"id":"558d608a.47a9","type":"debug","z":"19718233.dc245e","name":"pulso izq","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1120,"y":580,"wires":[]},{"id":"2aaa367.0416bca","type":"delay","z":"19718233.dc245e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.01","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":890,"y":600,"wires":[["558d608a.47a9","7b6d8a2.1aaad74"]]},{"id":"7b6d8a2.1aaad74","type":"rpi-gpio out","z":"19718233.dc245e","name":"Pasos Izquierdo","pin":"35","set":true,"level":"0","freq":"","out":"out","x":1120,"y":700,"wires":[]},{"id":"163a009.fe4edff","type":"switch","z":"19718233.dc245e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lt","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":550,"y":580,"wires":[["4e2b1692.aeaf88","e424fb9a.d8a178"],["60778c5f.1dc354","e424fb9a.d8a178"],[]]},{"id":"4e2b1692.aeaf88","type":"change","z":"19718233.dc245e","name":"adelante","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":520,"wires":[["3d55f226.d5a9be"]]},{"id":"60778c5f.1dc354","type":"change","z":"19718233.dc245e","name":"atras","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":680,"wires":[["3d55f226.d5a9be"]]},{"id":"3d55f226.d5a9be","type":"rpi-gpio out","z":"19718233.dc245e","name":"Direccion Izquierdo","pin":"37","set":true,"level":"0","freq":"","out":"out","x":1126.2499961853027,"y":634.9999952316284,"wires":[]},{"id":"9e5852e8.26a38","type":"ui_text_input","z":"19718233.dc245e","name":"","label":"Giro en grados","tooltip":"","group":"cf67f997.4d16c8","order":0,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":308.75000762939453,"y":1001.250011920929,"wires":[["dd7d3d64.3a8b3"]]},{"id":"dd7d3d64.3a8b3","type":"switch","z":"19718233.dc245e","name":"derecha - izquierda","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":518.7500076293945,"y":1001.250011920929,"wires":[["3115284c.656028","2bd8baff.32e5f6","19daf87e.086158"],["9f3b38d4.710378","8be5207e.820ae","19daf87e.086158"]]},{"id":"2bd8baff.32e5f6","type":"change","z":"19718233.dc245e","name":"adelante","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":860,"wires":[["3d55f226.d5a9be"]]},{"id":"9f3b38d4.710378","type":"change","z":"19718233.dc245e","name":"atras","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":1140,"wires":[["3d55f226.d5a9be"]]},{"id":"8be5207e.820ae","type":"change","z":"19718233.dc245e","name":"adelante","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1100,"wires":[["e7511130.dd713"]]},{"id":"3115284c.656028","type":"change","z":"19718233.dc245e","name":"atras","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":900,"wires":[["e7511130.dd713"]]},{"id":"19daf87e.086158","type":"function","z":"19718233.dc245e","name":"grados a pasos","func":"var grados = msg.payload;\ngrados = Math.abs(grados);\nvar pasos;\n\n\n\nfor(var pulso = 0; pulso < grados; pulso++)\n{\n    msg.payload = 0;\n    node.send(msg)\n    msg.payload = 1;\n    node.send(msg)\n}","outputs":1,"noerr":0,"x":740,"y":1000,"wires":[["648417f1.e15958"]]},{"id":"648417f1.e15958","type":"delay","z":"19718233.dc245e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.01","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":970,"y":1000,"wires":[["7b6d8a2.1aaad74","eca4c3c2.fd01d","1f26dbbd.25a254","558d608a.47a9"]]}]